.inputWrapper {
  margin: 10px 0;
  max-width: 100%;
  outline: none;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #efefef;
  box-shadow: 0 5px 10px #efefef;
  border-radius: 3px;
  transition: border 0.1s;
  display: flex;
  justify-content: space-between;
}

textarea {
  outline: none;
  border: none;
  resize: none;
}

.textContainer {
  width: 180px;
}
