.contentWrapper {
  overflow-y: hidden;
  position: relative;
  border: 1px solid #efefef;
  box-shadow: 0 5px 10px #efefef;
  border-radius: 5px;
}

.emojiScrollWrapper {
  overflow-y: scroll;
  position: relative;
  height: calc(100% - 30px);
  box-sizing: border-box;
  min-height: 400px;
}

.emojiGroup {
  clear: both;
  padding: 0 5px;
  list-style: none;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.emojiGroup::before {
  content: attr(data-display-name);
  color: #aaa;
  font-size: 14px;
  position: sticky;
  background: rgba(255, 255, 255, 0.95);
  width: 100%;
  z-index: 1;
  top: 0;
  text-transform: uppercase;
  line-height: 45px;
  font-weight: 700;
}

.emoji {
  position: relative;
  margin: 5px;
}

.emojiItem {
  font-size: 17px;
}

button {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: inherit;
  border-radius: 20px;
  transition: 0.1s background;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.footerSection {
  top: calc(100% - 35px);
  left: 0px;
  position: absolute;
  min-height: 35px;
  width: 100%;
  background-color: rgb(230, 230, 230);
  display: flex;
  justify-content: flex-start;
  z-index: 1;
}

.clickButton {
  display: flex;
  justify-content: center;
  height: 35px;
  width: 35px;
  background-color: rgb(230, 230, 230);
  padding-top: 5px;
}

.clickButtonActive {
  background-color: #fff;
}

.smileButton {
  height: 23px;
  width: 23px;
  background-image: url('https://icons-for-free.com/iconfiles/png/512/smile+icon-1320167995764238352.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.15;
  cursor: pointer;
}

.timerButton {
  margin-top: 1px;
  height: 21px;
  width: 21px;
  background-image: url('https://w7.pngwing.com/pngs/587/702/png-transparent-computer-icons-clock-font-awesome-clock-angle-time-share-icon-thumbnail.png');
  background-size: cover;
  background-position: center;
  opacity: 0.15;
  cursor: pointer;
}
