.appWrapper {
  background: #fff;
  display: flex;
  flex-direction: column;
  width: 280px;
  font-family: sans-serif;
  border-radius: 5px;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}
